body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  width: 81%;
  margin-left: 19%;
  padding-top: 20px;
}

.card {
  height: 525px;
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(250, 250 , 250);
}

.img-container {
  height: 50%;
  padding: 5px;
  background-color: #e6e1e1;
  display: flex;
  justify-content: center;
}

.img-container img {
  padding: 30px;
}

.info-container {
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.info-container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;

  font-size: 20px;
}

.info-container .header .types {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.info-container .header .name {
  font-size: 25px;
  font-weight: 600;
  color: grey;
}

.info-container .header .types p { 
  margin: 0;
  color: white;
  padding: 3px;
  border-radius: 3px;
}

.info-container .stats {
  border-collapse: collapse;
  font-size: 18px;
  color: grey;
}

.info-container .stats td{
  padding: 5px;
}

.table-border {
  border-bottom: 1px solid grey;
}

.info-container .stats .parameter {
  font-weight: 600;
}

.info-container .stats .value {
   text-align: end;
}